Doc/*
doc/*
build/*
test/build/*
error/*
setup/x86/build/*
setup/arm/build/*
src/sdk/*
src/thirdparty/x86/*
src/thirdparty/arm/*
*.user*
*.user
*.app
*.autosave
*.core
*.debug
*.embed.manifest
*.moc
*.o
*.obj
*.orig
*.prl
*.qm
*.rc
*.rej
*.res
*.so
*.so.*
*_resource.rc
*_wrapper.bat
*_wrapper.sh
*~
.#*
.DS_Store
*.qmake.cache
*.qmake.stash
Makefile*
moc_*.cpp
qrc_*.cpp
*.creator.user*
*.pro.user*
*.pyqtc.user*
*.qbs.user*
*.qmlproject.user*

# Project

